@font-face {
    font-family: 'DrukaatieBurti';
    src: url('./DrukaatieBurti-Regular.ttf') format('truetype'),
        url('./DrukaatieBurti-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: rgb(172, 227, 248);
    /*/url('./background.jpg');/*/
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.header {
    display: flex;
    background: rgba(255, 255, 255, .7);
    border-radius: 0px 0px 10px 10px;
    height: 75px;
    flex-grow: 1;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-family: 'DrukaatieBurti';
    font-size: 48px;
    border-color: rgb(155, 110, 68);
    border-width: 3px;
    border-style: solid;
}

.header:hover {
    box-shadow: 12px 12px 15px 1px rgba(0, 0, 0, .5);
}

.about-card {
    display: flex;
    flex-flow: column-reverse wrap;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(238, 67, 67, 0.7), rgba(143, 42, 42, 0.7));
    /* background: rgba(238, 67, 67, 0.7); */
    padding: 10px;
    justify-content: space-around;
}

.apple {
    width: 50px;
    margin: 5px;
    position: relative;
}

.about-card:hover {
    box-shadow: 12px 12px 15px 1px rgba(0, 0, 0, .5);
}

.animation {
    animation: appleFall .5s ease 1;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}


@keyframes appleFall {
    0% {
        top: 0px;
    }

    100% {
        top: 150px;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
        scale: 1.25;
    }

    100% {
        transform: rotate(10deg);
    }
}

.wiggler:hover {
    animation: wiggle .5s 1;
}

.table {
    display: flex;
    width: 33%;
    height: 75px;
    background-color: rgb(202, 139, 87);
    border-color: rgb(155, 110, 68);
    border-top-color: rgba(255, 255, 255, .7);
    border-top-width: 3px;
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    align-items: center;
    justify-content: space-around;
    padding: 5px 100px;
}

.plate {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    border-color: rgb(118, 126, 120);
    border-style: solid;
}

.upperCard {
    /* background-color: rgba(247, 181, 181,.7); */
    display: flex;
    background: rgba(247, 181, 181, .7);
    width: 25%;
    height: 20px;
    border-radius: 0 10px 0 0;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-left: 125px;
    justify-content: center;
}

.leaf {
    width: 80px;
    height: 70px;
    background-image: linear-gradient(#5a975a, #386138);
    border-radius: 0 100%;
    flex: 1 1 auto;
    margin-right: 45px;
}

.card-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-family: 'DrukaatieBurti';
    font-size: 16px;
    color: rgb(25, 25, 48);
    padding-bottom: 100px;
    z-index: 3;
}

.ground {
    width: 100vw;
    height: 33vh;
    background-color: rgb(104, 163, 104);
    border-radius: 100% 100% 0px 0px;
    border-style: solid;
    border-color: rgb(79, 126, 79);
    border-width: 3px;

}

.treeContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    width: 150px;
    scale: 1.2;
    margin-top: -100px;
    margin-left: 250px;
}

.treeTrunk {
    height: 0;
    width: 15px;
    border-bottom: 80px solid rgb(187, 146, 92);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.treeLeavesContainer {
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    padding-left: 25px;
}

.treeTrunkContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.treeLeaves {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(8, 99, 8);
    border-radius: 50% 50% 35% 35%;
    background-color: green;
    padding: 10px;
    position: absolute;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
}

.treeLeaves2 {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(11, 116, 11);
    border-radius: 50% 50% 35% 35%;
    background-color: rgb(3, 146, 3);
    position: absolute;
    z-index: 3;
    margin-left: 75px;
    margin-top: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
}

.treeLeaves3 {
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(11, 116, 11);
    border-radius: 50% 50% 35% 35%;
    background-color: rgb(3, 146, 3);
    position: absolute;
    z-index: 2;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
}



.treeApple {
    width: 20px;
    margin: 5px;
    position: relative;
    z-index: 5;

}

.sunContainer {
    align-self: flex-start;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-left: 75px;
    scale: 1.5;
}

.sun-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(248, 248, 164);
}

.sun-middle {
    animation: sunMiddle 7s ease infinite;
    animation-direction: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: rgba(248, 248, 164, 0.562);
}

.sun-outer {
    animation: sunOuter 5s ease infinite;
    animation-direction: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(248, 248, 164, 0.3);
}

@keyframes sunMiddle {
    50% {
        scale: .98;
    }
}

@keyframes sunOuter {
    50% {
        scale: 1.05;
    }
}

.plate-container {
    font-family: 'DrukaatieBurti';
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.text {
    color: black;
}

.footer-container {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    height: 20vh;
    width: 100vw;


}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 50%;
    background-color: rgb(6, 77, 6);
}